.banner-box {
  max-width: 1560px;
  padding: 0 60px;
}
.bb-bt {
  background-color: unset;
  text-align: center;
  border-radius: 8px;
  border: unset;
  margin: 12px 30px 10px 0;
  padding: 4px 0 10px 0;
  /* transition: color 0.2s ease; */
  /* color: #9e9d9d; */
  font-size: 16px;
  filter: opacity(60%);
  cursor: pointer;
  letter-spacing: 0.8px;
}
.gap-8 {
  gap: 8px;
}
.bb-img {
  width: 28px;
  height: auto;
  /* aspect-ratio:  auto 24/24; */
}
.highlight {
  filter: opacity(100%);
  border-radius: 0;
  border-bottom: 2px solid black;
}
.bb-bt:hover {
  border-radius: 0;
  border-bottom: 2px solid #9e9d9d;
}

@media screen and (min-width: 1440px) {
  .banner-box {
    padding: 0 80px;
    margin: 0 auto;
  }
}
